@model IEnumerable<Online_Assessment_Project.ViewModel.QuestionsViewModel>

@{
    ViewBag.Title = "DisplayQuestions";
}

<h2>DisplayQuestions</h2>

<p>
    @Html.ActionLink("Add Question", "CreateQuestions", "Question", new { @class = "btn btn-primary" })
</p>

    @using (Html.BeginForm("DisplayQuestions", "Question", FormMethod.Get))
    {
        @Html.TextBox("search")
        <input type="submit" value="Filter" />
    }

    <table class="table">
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.QuestionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestId)
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestId)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "EditQuestion", new { questionId = item.QuestionID })
                    @Html.ActionLink("Delete", "DeleteQuestion", new { questionId = item.QuestionID })
                </td>
            </tr>
        }


    </table>
